#workspace{
  background: -moz-linear-gradient(10% 100% 360deg, #377ad0, #52a8e8);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52a8e8), to(#377ad0));
}
#workspace .valign-wrapper{
  height: 80%;
}
#workspace .quote{
	color:white;
	font-size:20px;
	position:absolute;
	bottom:40px;
	right:0px;
	left:0px;
	text-align:center;
}
#workspace #content{
  margin: auto;
  box-shadow: 0 1px 10px 0 #b3b3b3;
  padding: 20px 80px 40px 80px;
  background:white;
  border-radius: 10px;
  max-height: 400px;
  transition: all 4s;
  -moz-transition: all 4s;
}
#workspace .content-full{
	width: 46%;
  margin: 40px auto;
  background:white;
  padding: 10px 15px;
  border-radius:10px;
}
#workspace h2{
  margin: 10px 0;
  font-size: 1.5rem;
}
#workspace #voterForm{
  display: table;
  margin: 0px auto;
}
#workspace #candidates{
  display: table;
  margin: 20px auto;
}
#workspace #candidates .candidate{
 	margin: 5px;
 	padding: 5px;
}
#workspace #candidates .candidate input, #candidates .candidate label{
	display:inline-block;
	vertical-align:middle;
}
#workspace #candidates .candidate input{
	margin-right:10px;
}
#workspace #candidates #boys, #candidates #girls{
	display:inline-block;
	width: 200px;
  vertical-align: top;
}
#workspace #username{
  position:absolute;
  bottom: 70px;
  right: 0px;
  left: 0px;
  text-align: center;
  font-size: 50px;
}
#workspace button, #workspace .btn {
	display: table;
  margin: 0 auto;
}

/* Our Styles */
#workspace input[type=checkbox]{
 	outline:none !important;
}
#workspace .thankyou, #workspace #voteForm{
	display: none;
}
#workspace #votedBeep{
  display: none;
}
@media screen and (max-width: 1024px){
  #workspace {
    width: 80%;
  }
}
